.headergrid {
    display: grid;
    grid-template-areas: "text"
                         "sug"
                         "footer";
    grid-column: 1;
    grid-template-rows: auto;
    margin-left: 15%;
    margin-right: 15%;
}


.footer{
    margin-top: 4%;
    margin-right: 1%;
    margin-left: 3%;
    grid-area: footer;
    display: grid;
    grid-template-areas: "copyright space contacts contacts2";
  grid-template-columns: 350px 6fr 1fr 120px;
}
.footercopyright{
    grid-area: copyright;
    text-align: justify;
    color: rgb(141, 138, 138);
    font-size: 80%;
    margin-right: 1%;
    margin-left: 2%;
    padding-top: 0%;
}
.footerspace{
    grid-area: space;
}
.footercontacts{
    margin-left: 0%;
    grid-area: contacts;
}
.footercontacts2{
    grid-area: contacts2;
}
